*.env
*.log
*.lock
*.pid
*.pid.lock
*.sql
*.sqlite
*.meh
*.blah
my-shit/*
othershit/*
secrets/*
topsecrets/*
nuclear-launch-codes/*
nasa-secrets/*
epstein-island-files/*
study-material/*
world-domination-files/*